body {
    background-image: url("img/bk1.jpg");
    background-color: #cccccc;
  }
h2 {
    color: black;
}
ul {
    color: black
}
label {
    color: black
}
table {
    color: black
}
table, th, td {
    border: 2px solid black;
  }